{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <!-- Section Services -->
    <section id="services" class="pages">
        <div class="jumbotron" data-stellar-background-ratio="0.5">
            <!-- Heading -->
            <div class="jumbo-heading" data-stellar-background-ratio="1.2">
                <h1>Training Classes</h1>
            </div>
        </div>
        <!-- container-->
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Puppy and Dog Training Classes</h3>
                    <strong><p>At Paws 4 Thought we believe that good training must be at the centre of a rewarding
                        relationship between you and your dog.</p></strong>
                    <p></p>
                    We offer training classes for Puppies and adult Dogs, as well as more advanced training for
                    owners wishing to gain a little more control. We offer group training classes and <a
                        href="{% url '1-2-1 training' %}">1-2-1
                    Training</a>.
                    </p>

                    <!-- button -->
                    <a class="btn" href="{% url 'services' %}">
                        <i class="fa fa-angle-double-left"></i> All Services
                    </a>
                </div>
                <!-- /col-md-6 -->
                <div class="col-md-6 res-margin">
                    <h4>What do our training classes offer?</h4>
                    <ul class="custom no-margin">
                        <li>PUPPY CLASSES</li>
                        <p>Puppy training classes run for 6 weeks, starting at regular intervals throughout the
                            year.
                        </p>
                        <p>
                            The classes aim to teach your puppy the basics, such as: ‘Sit down’, ‘stay’, and ‘leave it’.
                            We also cover issues such as recall, preventing jumping up, and pulling on the lead.
                        </p>
                        <p>
                            Puppies are also allowed some social time at the end of each class. Each class lasts one
                            hour.
                        </p>
                        <li>DOG CLASSES</li>
                        <p>This 6 week course is for dogs over 6 months and with little or no previous training. Basics
                            such as ‘sit down’, ‘stay’ and recall are covered, and we address problems that have
                            developed, such as pulling on the lead, jumping up and distraction around other dogs.
                        </p>
                        <p>
                            During the Summer, two weeks of this may be outside (weather permitting).
                        </p>
                        <li>INTERMEDIATE CLASSES</li>
                        <p>Following on from our puppy or dog classes, or for dogs with some basic previous training, we
                            offer a four week class for those wanting to achieve a higher level of control. The first 2
                            classes are based inside and the last 2 classes are in a secure outside location (weather
                            permitting).
                        </p>
                        <p>
                            We practice recall and work on and off the lead to achieve a higher level of control around
                            many everyday distractions. We also include some basic agility which is great fun for dogs
                            and owners alike!
                        </p>
                        <li>AGILITY</li>
                        <p>Over the summer we run a fun agility club. This is a great way to strengthen the relationship
                            between you and your dog, is enjoyable for the whole family and a great opportunity to meet
                            new doggy friends!
                        </p>
                    </ul>
                    <!-- /ul -->
                </div>
                <!-- /col-md-6 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
        <!-- owl slider -->
        <div class="container-fluid margin1">
            <div id="owl-featured" class="owl-carousel no-padding margin1">
                <div class="col-md-12">
                    <!-- image -->
                    <a href="{% static 'img/feature1.jpg' %}" data-gal="prettyPhoto[gallery]" title="">
                        <img src="{% static 'img/feature1.jpg' %}" class="img-rounded img-responsive" alt="">
                    </a>
                </div>
                <!-- /col-md-12 -->
                <div class="col-md-12">
                    <a href="{% static 'img/feature2.jpg' %}" data-gal="prettyPhoto[gallery]" title="">
                        <img src="{% static 'img/feature2.jpg' %}" class="img-rounded img-responsive" alt="">
                    </a>
                </div>
                <!-- /col-md-12 -->
                <div class="col-md-12">
                    <!-- image -->
                    <a href="{% static 'img/feature3.jpg' %}" data-gal="prettyPhoto[gallery]" title="">
                        <img src="{% static 'img/feature3.jpg' %}" class="img-rounded img-responsive" alt="">
                    </a>
                </div>
                <!-- /col-md-12 -->
                <div class="col-md-12">
                    <!-- image -->
                    <a href="{% static 'img/feature4.jpg' %}" data-gal="prettyPhoto[gallery]" title="">
                        <img src="{% static 'img/feature4.jpg' %}" class="img-rounded img-responsive" alt="">
                    </a>
                </div>
                <!-- /col-md-12 -->
                <div class="col-md-12">
                    <!-- image -->
                    <a href="{% static 'img/feature5.jpg' %}" data-gal="prettyPhoto[gallery]" title="">
                        <img src="{% static 'img/feature5.jpg' %}" class="img-rounded img-responsive" alt="">
                    </a>
                </div>
                <!-- /col-md-12 -->
            </div>
            <!-- /owl-carousel -->
        </div>
        <!-- /container-->
    </section>
    <!-- /Section ends -->
{% endblock %}