{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <!-- Full Page Image Background Slider -->
    <div class="slider-container">
        <!-- Controls -->
        <div class="slider-control left inactive"></div>
        <div class="slider-control right"></div>
        <ul class="slider-pagi"></ul>
        <!--Slider -->
        <div class="slider">
            <!-- Slide 0 -->
            <div class="slide slide-0 active" style="background-image:url({% static 'img/slide0.jpg' %})">
                <div class="slide__bg"></div>
                <div class="slide__content">
                    <div class="slide__overlay">
                    </div>
                    <!-- slide text-->
                    <div class="slide__text">
                        <h1 class="slide__text-heading">Paws 4 Thought Dogs</h1>
                        <div class="hidden-mobile">
                            <p class="lead">Doggy day care, puppy training and 1-2-1 training in Maidenhead & Marlow</p>
                            <a href="services.html" class="btn btn-default">our services</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide 1 -->
            <div class="slide slide-1" style="background-image:url({% static 'img/slide1.jpg' %})">
                <div class="slide__bg"></div>
                <div class="slide__content">
                    <div class="slide__overlay">
                    </div>
                    <!-- slide text-->
                    <div class="slide__text">
                        <h1 class="slide__text-heading">We Love Pets!</h1>
                        <div class="hidden-mobile">
                            <p class="lead">We offer all the best quality products for your best friend.</p>
                            <a href="blog.html" class="btn btn-default">our Blog</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide 2 -->
            <div class="slide slide-2" style="background-image:url({% static 'img/slide2.jpg' %})">
                <div class="slide__bg"></div>
                <div class="slide__content">
                    <div class="slide__overlay">
                    </div>
                    <!-- slide text-->
                    <div class="slide__text">
                        <h1 class="slide__text-heading">Amazing Services</h1>
                        <div class="hidden-mobile">
                            <p class="lead">We offer all the best quality products for your best friend.</p>
                            <a href="about.html" class="btn btn-default">About Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Slide2 -->
        </div>
        <!--/Slider-->
    </div>
    <!--/ Slider ends -->
    <!-- SVG Curve Up -->
    <svg id="curveUp" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100"
         preserveAspectRatio="none" fill="#fff">
        <path d="M0 100 C 20 0 50 0 100 100 Z"/>
    </svg>
    <!-- Section Services-index -->
    <section id="services-index">
        <!-- container -->
        <div class="container">
            <div class="section-heading">
                <h2>Our Services</h2>
            </div>
            <!-- /section-heading-->
            <div class="col-md-10 col-md-offset-1 text-center">
                <p>We provide a number of services blah blah need some text for this bit. couldn't find anything
                    appropriate on the site.</p>
            </div>
            <!-- /col-md-10-->
        </div>
        <!-- /container-->
        <div class="container-fluid bg-pattern margin1" data-bottom-top="background-position: 0px 70%,99% 70%;"
             data-top-bottom="background-position: 0px -50%,99% -50%;">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- Services -->
                    <div id="owl-services" class="owl-carousel">
                        <!-- Feature Box 1  -->
                        <div class="col-xs-12">
                            <div class="box_icon">
                                <div class="icon">
                                    <!-- icon -->
                                    <div class="image">
                                        <img src="{% static 'img/service1.jpg' %}" class="img-responsive" alt="">
                                    </div>
                                    <div class="info">
                                        <h4>Day Care/Walking</h4>
                                        <p>We pride ourselves on treating your dog as though they were our own, so you
                                            can relax and have full confidence knowing that your dog is receiving the
                                            best possible care in our home from home safe and secure enviroment.</p>
                                        <!-- Button-->
                                        <a class="btn" href="services-single.html">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- /box_icon -->
                        </div>
                        <!-- /col-xs-12 ends -->
                        <!-- Feature Box 2 -->
                        <div class="col-xs-12">
                            <div class="box_icon">
                                <div class="icon">
                                    <!-- icon -->
                                    <div class="image">
                                        <img src="{% static 'img/service2.jpg' %}" class="img-responsive" alt="">
                                    </div>
                                    <div class="info">
                                        <h4>Puppy and Dog Training</h4>
                                        <p>We offer training classes for Puppies and adult Dogs, as well as more
                                            advanced training for owners wishing to gain a little more control.</p>
                                        <!-- Button-->
                                        <a class="btn" href="services-single.html">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- /box_icon -->
                        </div>
                        <!-- /col-xs-12 ends -->
                        <!-- Feature Box 3  -->
                        <div class="col-xs-12">
                            <div class="box_icon">
                                <div class="icon">
                                    <!-- icon -->
                                    <div class="image">
                                        <img src="{% static 'img/service3.jpg' %}" class="img-responsive" alt="">
                                    </div>
                                    <div class="info">
                                        <h4>1-2-1 Puppy and Dog Training</h4>
                                        <p>These can take place at your home, or another location convenient to you. For
                                            pre-vaccinated puppies, training can be started very early on in your home,
                                            which can be useful for getting off to a good start.</p>
                                        <!-- Button-->
                                        <a class="btn" href="services-single.html">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- /box_icon -->
                        </div>
                        <!-- /col-xs-12 ends -->
                        {#                     <!-- Feature Box 4  -->#}
                        {#                     <div class="col-xs-12">#}
                        {#                        <div class="box_icon">#}
                        {#                           <div class="icon">#}
                        {#                              <!-- icon -->#}
                        {#                              <div class="image">#}
                        {#                                 <img src="{% static 'img/service4.jpg' %}" class="img-responsive" alt="">#}
                        {#                              </div>#}
                        {#                              <div class="info">#}
                        {#                                 <h4>Pet Hotel</h4>#}
                        {#                                 <p>Nulla vel metus scelerisque ante sollicitudinlorem ipsuet commodo. Cras purus odio, vestibulum in vulputate a Imperdiet interdum donec eget metus auguen unc vel lorem.</p>#}
                        {#                                 <!-- Button-->#}
                        {#                                 <a class="btn" href="services-single.html">Read More</a>#}
                        {#                              </div>#}
                        {#                           </div>#}
                        {#                        </div>#}
                        {#                        <!-- /box_icon -->#}
                        {#                     </div>#}
                        {#                     <!-- /col-xs-12 ends -->#}
                        {#                     <!-- Feature Box 5  -->#}
                        {#                     <div class="col-xs-12">#}
                        {#                        <div class="box_icon">#}
                        {#                           <div class="icon">#}
                        {#                              <!-- icon -->#}
                        {#                              <div class="image">#}
                        {#                                 <img src="{% static 'img/service5.jpg' %}" class="img-responsive" alt="">#}
                        {#                              </div>#}
                        {#                              <div class="info">#}
                        {#                                 <h4>Dog Walking</h4>#}
                        {#                                 <p>Nulla vel metus scelerisque ante sollicitudinlorem ipsuet commodo. Cras purus odio, vestibulum in vulputate a Imperdiet interdum donec eget metus auguen unc vel lorem.</p>#}
                        {#                                 <!-- Button-->#}
                        {#                                 <a class="btn" href="services-single.html">Read More</a>#}
                        {#                              </div>#}
                        {#                           </div>#}
                        {#                        </div>#}
                        {#                        <!-- /box_icon -->#}
                        {#                     </div>#}
                        {#                     <!-- /col-xs-12 ends -->#}
                    </div>
                    <!-- /owl-services -->
                </div>
                <!-- /col-md-9 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container-fluid-->
    </section>
    <!-- Section About-index -->
    <section id="about-index" class="bg-lightcolor1">
        <div class="container">
            <div class="section-heading text-center">
                <h2>About Us</h2>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-md-6 col-lg-7 text-center">
                    <h3>For your best friend</h3>
                    <p>
                        We pride our selves in providing everything you and your dogs needs...
                    </p>
                    <p>
                        With a wealth of experience and a professional services...
                    </p>
                    <!-- Accordion -->
                    <div class="panel-group" id="accordion">
                        <!-- Question 1 -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                       href="#collapseOne">Social Responsability</a>
                                </h5>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <p>We're always mindful of our neighbours and ensure to pick up any dog waste when out for walks!...
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Question 2 -->
                        <div class="panel">
                            <div class="panel-heading">
                                <h5 class="panel-title">
                                    <a class="accordion-toggle collapsed" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseTwo">Mission Statement</a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <p>It's our mission to provide comfort and security for your beloved pet...
                                    </p>
                                </div>
                            </div>
                        </div>
{#                        <!-- Question 3 -->#}
{#                        <div class="panel">#}
{#                            <div class="panel-heading">#}
{#                                <h5 class="panel-title">#}
{#                                    <a class="accordion-toggle collapsed" data-toggle="collapse"#}
{#                                       data-parent="#accordion" href="#collapseThree">Value Added Services</a>#}
{#                                </h5>#}
{#                            </div>#}
{#                            <div id="collapseThree" class="panel-collapse collapse">#}
{#                                <div class="panel-body">#}
{#                                    <p>Patatemp dolupta orem retibusam qui commolu#}
{#                                        les felis tiam non metus ali quam eros Pellentesque turpis lectus, placerat a#}
{#                                        ultricies a, posuere a nibh. Fusce mollis imperdiet interdum donec eget metus#}
{#                                        auguen unc vel mauris ultricies, vest ibulum orci eget, viverra elit.#}
{#                                    </p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                    <!-- /.accordion -->
                </div>
                <!-- /col-md-7-->
                <!-- Parallax object -->
                <div class="parallax-object1 hidden-sm hidden-xs" data-100-start="right: 0%;"
                     data-center-bottom="right:30%;">
                    <!-- Image -->
                    <img src="{% static 'img/illustrations/petbowl.png' %}" alt="">
                </div>
                <!-- /parallax-object1-->
                <div class="col-md-6 col-lg-5">
                    <img src="{% static 'img/about-index.png' %}" class="img-responsive" alt="">
                </div>
                <!-- /col-md-5-->
            </div>
            <!-- /row -->
            <div class="row margin1 text-center">
                <!-- item 1 -->
                <div class="features col-lg-3 col-sm-6 col-xs-12">
                    <div class="col-xs-12 big-icon">
                        <!-- icon -->
                        <i class="flaticon-dog-and-pets-house"></i>
                    </div>
                    <div class="col-xs-12">
                        <h5>Location</h5>
                        <p>We're based in Marlow and Maidenhead...</p>
                    </div>
                </div>
                <!-- /col-md-3 -->
                <!-- item 2 -->
                <div class="features col-lg-3 col-sm-6 col-xs-12">
                    <div class="col-xs-12 big-icon">
                        <!-- icon -->
                        <i class="flaticon-dog-in-front-of-a-man"></i>
                    </div>
                    <div class="col-xs-12">
                        <h5>High Quality</h5>
                        <p>All staff are trained to the highest standards...</p>
                    </div>
                </div>
                <!-- /col-md-3 -->
                <!-- item 3 -->
                <div class="features col-lg-3 col-sm-6 col-xs-12">
                    <div class="col-xs-12 big-icon">
                        <!-- icon -->
                        <i class="flaticon-dog-training-1"></i>
                    </div>
                    <div class="col-xs-12">
                        <h5>Services</h5>
                        <p>We have a number of services....</p>
                    </div>
                </div>
                <!-- /col-md-3 -->
                <!-- item 1 -->
                <div class="features col-lg-3 col-sm-6 col-xs-12">
                    <div class="col-xs-12 big-icon">
                        <!-- icon -->
                        <i class="flaticon-animals-3"></i>
                    </div>
                    <div class="col-xs-12">
                        <h5>Special Care</h5>
                        <p>We take every measure to ensure the safety of your pet and we're ensured...</p>
                    </div>
                </div>
                <!-- /col-md-3 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </section>
    <!-- /section ends -->

    <!-- Section Contact  -->
    <section id="contact-index">
        <div class="container">
            <div class="section-heading">
                <h2>Contact Us</h2>
            </div>
            <div class="col-lg-7 col-lg-offset-5 col-md-8 col-md-offset-2">
                <!-- contact info -->
                <h4>Information </h4>
                <ul class="list-inline">
                    <li><i class="fa fa-envelope"></i><a href="mailto:claire@paws4thoughtdogs.com">claire@paws4thoughtdogs.com</a></li>
                    <li><i class="fa fa-phone margin-icon"></i>01491 576290</li>
                    <li><i class="fa fa-mobile margin-icon"></i>07966 184 948</li>
                    <li><i class="fa fa-map-marker margin-icon"></i>Need your address!</li>
                </ul>
                <!-- address info -->
                <p>Feel free to contact us should you have any questions about anything at all!
                </p>
                <h4 class="margin1">Send us a Message</h4>
                <!-- Form Starts -->
                <div id="contactForm">
                    <div class="form-group">
                        {% csrf_token %}
                        <label>Name<span class="required">*</span></label>
                        <input type="text" name="name" id="name" class="form-control input-field" required="">
                        <label>Email Adress <span class="required">*</span></label>
                        <input type="email" name="email" id="email" class="form-control input-field" required="">
                        <label>Subject</label>
                        <input type="text" name="subject" id="subject" class="form-control input-field" required="">
                        <label>Message<span class="required">*</span></label>
                        <textarea name="message" id="message" class="textarea-field form-control" rows="3"
                                  required=""></textarea>
                    </div>
                    <button type="submit" id="contactMessage" value="Submit" class="btn center-block">Send message</button>
                </div>
                <!-- Contact results -->
                <div id="contact_results"></div>
            </div>
            <!-- Contact -->
            <!-- /col-lg-5-->
        </div>
        <!-- /container -->
    </section>
    <!-- /Section ends -->
    <div class="container-fluid">
        <!-- map-->
        <div id="map-canvas"></div>
    </div>

{% endblock %}