{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <style>
        #contact-index {
            background: url({{ contact_detail.image_700x458_homepage.url }}) no-repeat;
            background-attachment: fixed;
            background-position: 0% bottom;
            background-color: #fff;
        }
    </style>
    <!-- Full Page Image Background Slider -->
    <div class="slider-container">
        <!-- Controls -->
        <div class="slider-control left inactive"></div>
        <div class="slider-control right"></div>
        <ul class="slider-pagi"></ul>
        <!--Slider -->
        <div class="slider">
            {% for banner in banners.all %}
                <!-- Slide -->
                <div class="slide slide-{{ forloop.counter0 }} active" style="background-image:url({{ banner.image_1600x900.url }})">
                    <div class="slide__bg"></div>
                    <div class="slide__content">
                        <div class="slide__overlay">
                        </div>
                        <!-- slide text-->
                        <div class="slide__text">
                            <h1 class="slide__text-heading">{{ banner.title }}</h1>
                            <div class="hidden-mobile">
                                <p class="lead">{{ banner.text|linebreaks }}</p>
                                {% if banner.url %}
                                <a href="{{ banner.url }}" class="btn btn-default">{{ banner.url_text }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!--/Slider-->
    </div>
    <!--/ Slider ends -->
    <!-- SVG Curve Up -->
    <svg id="curveUp" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100"
         preserveAspectRatio="none" fill="#fff">
        <path d="M0 100 C 20 0 50 0 100 100 Z"/>
    </svg>
    <!-- Section Services-index -->
    <section id="services-index">
        <!-- container -->
        <div class="container">
            <div class="section-heading">
                <h2>Our Services</h2>
            </div>
            <!-- /section-heading-->
            <div class="col-md-10 col-md-offset-1 text-center">
                {% block messages %}
                    <p>{% if overview %}{{ overview.body }}{% endif %}</p>
                    </div>
                {% endblock %}
            <!-- /col-md-10-->
        </div>
        <!-- /container-->
        <div class="container-fluid bg-pattern margin1" data-bottom-top="background-position: 0px 70%,99% 70%;"
             data-top-bottom="background-position: 0px -50%,99% -50%;">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <!-- Services -->
                    <div id="owl-services" class="owl-carousel">
                        {% for service in services.all %}
                            <!-- Feature Box 1  -->
                            <div class="col-xs-12">
                                <div class="box_icon">
                                    <div class="icon">
                                        <!-- icon -->
                                        <div class="image">
                                            <img src="{{ service.main_image_500x400.url }}" class="img-responsive"
                                                 alt="">
                                        </div>
                                        <div class="info">
                                            <h4>{{ service.title }}</h4>
                                            <p>{{ service.body|linebreaks|truncatewords:100 }}</p>
                                            <!-- Button-->
                                            <a class="btn" href="services/{{ service.title }}">Read More</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /box_icon -->
                            </div>
                            <!-- /col-xs-12 ends -->
                        {% endfor %}
                    </div>
                    <!-- /owl-services -->
                </div>
                <!-- /col-md-9 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container-fluid-->
    </section>
    <!-- Section About-index -->
    <section id="about-index" class="bg-lightcolor1">
        <div class="container">
            <div class="section-heading text-center">
                <h2>About Us</h2>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-md-6 col-lg-7 text-center">
                    <h3>{{ company.sub_heading }}</h3>
                    <p>
                        {{ company.body|linebreaks }}
                    </p>
                    <!-- Accordion -->
                    <div class="panel-group" id="accordion">
                        {% if company.accordion_title1 %}
                            <!-- Question 1 -->
                            <div class="panel">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                                           href="#collapseOne">{{ company.accordion_title1 }}</a>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>{{ company.accordion_body1|linebreaks }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if company.accordion_title2 %}
                            <!-- Question 2 -->
                            <div class="panel">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse"
                                           data-parent="#accordion"
                                           href="#collapseTwo">{{ company.accordion_title2 }}</a>
                                    </h5>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>{{ company.accordion_body2|linebreaks }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if company.accordion_title3 %}
                            <!-- Question 3 -->
                            <div class="panel">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse"
                                           data-parent="#accordion"
                                           href="#collapseThree">{{ company.accordion_title3 }}</a>
                                    </h5>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>{{ company.accordion_body3|linebreaks }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <!-- /.accordion -->
                </div>
                <!-- /col-md-7-->
                <!-- Parallax object -->
                <div class="parallax-object1 hidden-sm hidden-xs" data-100-start="right: 0%;"
                     data-center-bottom="right:30%;">
                    <!-- Image -->
                    <img src="{% static 'img/illustrations/petbowl.png' %}" alt="">
                </div>
                <!-- /parallax-object1-->
                <div class="col-md-6 col-lg-5">
                    <img src="{{ company.home_page_image_800x1000.url }}" class="img-responsive" alt="">
                </div>
                <!-- /col-md-5-->
            </div>

            {% include 'features.html' %}

        </div>
        <!-- /container -->
    </section>
    <!-- /section ends -->

    <!-- Section Contact  -->
    <section id="contact-index">
        <div class="container">
            <div class="section-heading">
                <h2>{{ contact_detail.page_title }}</h2>
            </div>
            <div class="col-lg-7 col-lg-offset-5 col-md-8 col-md-offset-2">
                <!-- contact info -->
                <h4>Information </h4>
                <ul class="list-inline">
                    <li><i class="fa fa-envelope"></i><a
                            href="mailto:claire@paws4thoughtdogs.com">{{ contact_detail.email }}</a>
                    </li>
                    <li><i class="fa fa-phone margin-icon"></i>{{ contact_detail.landline }}</li>
                    <li><i class="fa fa-mobile margin-icon"></i>{{ contact_detail.mobile }}</li>
                    <li><i class="fa fa-map-marker margin-icon"></i>{{ contact_detail.address }}</li>
                </ul>
                <!-- address info -->
                <p>{{ contact_detail.body|linebreaks }}
                </p>
                <h4 class="margin1">{{ contact_detail.form_heading }}</h4>
                <!-- Form Starts -->
                <div id="contactForm">
                    <div class="form-group">
                        {% csrf_token %}
                        <label>Name<span class="required">*</span></label>
                        <input type="text" name="name" id="name" class="form-control input-field" required="">
                        <label>Email Adress <span class="required">*</span></label>
                        <input type="email" name="email" id="email" class="form-control input-field" required="">
                        <label>Subject</label>
                        <input type="text" name="subject" id="subject" class="form-control input-field" required="">
                        <label>Message<span class="required">*</span></label>
                        <textarea name="message" id="message" class="textarea-field form-control" rows="3"
                                  required=""></textarea>
                    </div>
                    <button type="submit" id="contactMessage" value="Submit" class="btn center-block">Send message
                    </button>
                </div>
                <!-- Contact results -->
                <div id="contact_results"></div>
            </div>
            <!-- Contact -->
            <!-- /col-lg-5-->
        </div>
        <!-- /container -->
    </section>
    <!-- /Section ends -->
    <div class="container-fluid">
        <!-- map-->
        <div id="map-canvas"></div>
    </div>

{% endblock %}