{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <style>
        .jumbotron {
            background: url({{ teampage.header_image_1600x660.url }});
        }
    </style>
    <!-- Section Team -->
    <section id="adoption" class="pages">
        <div class="jumbotron" data-stellar-background-ratio="0.5">
            <!-- Heading -->
            <div class="jumbo-heading" data-stellar-background-ratio="1.2">
                <h1>{{ teampage.title }}</h1>
            </div>
        </div>
        <!-- container-->
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-10 col-lg-offset-1">
                    <h3>{{ teampage.sub_heading }}</h3>
                    <p>{{ teampage.body|linebreaks }}
                    </p>
                </div>
                <!-- /col-lg-10 -->
            </div>
            <!-- /row -->
            <div class="row margin1">
                <div class="owl-carousel" id="owl-team">
                    {% for member in members.all %}
                    <!-- Team member 1 -->
                    <div class="team-wrap col-md-12">
                        <div class="member text-center">
                            <div class="wrap">
                                <!-- Info -->
                                <div class="info">
                                    <h3 class="name">{{ member.name }}</h3>
                                    <h4 class="position">{{ member.position }}</h4>
                                </div>
                                <!-- /info -->
                                <!-- image -->
                                <img src="{{ member.image_350x350.url }}" alt="" class="img-circle img-responsive">
                            </div>
                            <!-- /wrap -->
                            <div class="more">
                                <p>{{ member.bio }}</p>
                                <!-- Description -->
                                <div class="social-media smaller">
                                    {% if member.facebook %}
                                    <a href="{{ member.facebook }}" title="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                    {% endif %}
                                {% if member.twitter %}
                                    <a href="{{ member.twitter }}" title="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                {% endif %}
                                {% if member.google_plus %}
                                    <a href="{{ member.google_plus }}" title="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                                {% endif %}
                                {% if member.linkedin %}
                                    <a href="{{ member.linkedin }}" title="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                                {% endif %}
                                </div>
                                <!-- /social-media -->
                            </div>
                            <!-- /more -->
                        </div>
                        <!-- / member -->
                    </div>
                    <!--/ team-wrap -->
                    {% endfor %}

                </div>
                <!-- /owl-team-->
            </div>
            <!-- /row-->
        </div>
        <!-- /container-->
    </section>
    <!-- /Section ends -->

{% endblock %}